* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: purple;
  font-family: cursive;
  font-style: italic;
}
